/* General Styles Start */
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

    :root {
        --dark: #0a0a0a;
        --darkgrey: #888888;
        --grey: #f0f0f0;
        --white: #ffffff;
        --purple: #7510F7;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    body, html {
        -moz-background-size: cover;
        -o-background-size: cover;
        background-color: #bdcad9;
        background-image: linear-gradient(315deg, #bdcad9 0%, #e1dada 74%);
        background-size: cover;  
        background-position: center;
        width: 100%;
        z-index: 9999;
    }

    .section-header {
        text-align: center;
        margin: 0 auto 35px auto;
        width: 50%;
        color: var(--dark);
        font-weight: 700;
        text-shadow: 2px 2px 2px var(--white);
        font-size: 48px;
        padding-bottom: 20px;
        border-bottom: 3px solid var(--purple);
    }

    .flex-row {
        display: flex;
        justify-content: center;
        align-items: center;
    }
/* General Styles End */

/* Header Style Start */
    header {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        position: sticky;
        position: -webkit-sticky;
        width: 100%;
        z-index: 9999;
        background-color: var(--dark);
    }

    header h1 {
        margin: 0;
        padding: 10px 15px;
        font-size: 40px;
        font-weight: 700px;
    }

    header h1 a {
        text-decoration: none;
        color: var(--grey);
        text-shadow: 2px 2px 2px var(--darkgrey);
        border-radius: 20px;
        padding: 10px 10px;
    }

    header nav {
        margin: 10px 0;
    }

    header nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }

    header nav ul li a {
        margin: 0;
        padding: 10px 10px;
        text-decoration: none;
        font-size: 40px;
        color: var(--grey);
        font-weight: 700;
        text-shadow: 2px 2px 2px var(--darkgrey);
    }

    header nav ul li a:hover {
        background: var(--purple);
        color: var(--white);
        border-radius: 20px;
        text-shadow: none;
    }
/* Header Style End */

/* Hero Style Start */
    .hero {
        display: flex;
        text-align: center !important;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .hero-body  {
        padding: 3rem 1.5rem;
        color: var(--dark);
        text-shadow: 2px 2px 2px var(--white);
    }

    .hero-body h1 {
        font-size: 50px;
        font-weight: 800;
    }
    /* animated hero text */
    .wordCarousel {
        font-size: 30px;
        color: var(--dark);
        text-shadow: 2px 2px 2px var(--grey);
    }

    .wordCarousel div {
        overflow: hidden;
        position: relative;
        float: inline-end;
        height: 65px;
        padding-top: 10px;
    }

    .wordCarousel div li {
        color: var(--purple);
        text-shadow: 1px 1px 1px var(--dark);
        font-size: 40px;
        font-weight: 700;
        padding: 0 10px;
        height: 45px;
        margin-bottom: 45px;
        display: block;
        text-align: center;
    }

    /* Animation Duration */
    .flip2 {
        animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) 1;
    }
    .flip3 {
        animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) 1;
    }
    .flip4 {
        animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) 1;
    }

    /* Animation Frames */
    @keyframes flip2 {
        0% {
            margin-top: -180px;
        }
        5% {
            margin-top: -90px;
        }
        50% {
            margin-top: -90px;
        }
        55% {
            margin-top: 0px;
        }
        99.99% {
            margin-top: 0px;
        }
        100% {
            margin-top: -270px;
        }
    }
    
    @keyframes flip3 {
        0% {
            margin-top: -270px;
        }
        5% {
            margin-top: -180px;
        }
        33% {
            margin-top: -180px;
        }
        38% {
            margin-top: -90px;
        }
        66% {
            margin-top: -90px;
        }
        71% {
            margin-top: 0px;
        }
        99.99% {
            margin-top: 0px;
        }
        100% {
            margin-top: -270px;
        }
    }
    
    @keyframes flip4 {
        0% {
            margin-top: -360px;
        }
        5% {
            margin-top: -270px;
        }
        25% {
            margin-top: -270px;
        }
        30% {
            margin-top: -180px;
        }
        50% {
            margin-top: -180px;
        }
        55% {
            margin-top: -90px;
        }
        75% {
            margin-top: -90px;
        }
        80% {
            margin-top: 0px;
        }
        99.99% {
            margin-top: 0px;
        }
        100% {
            margin-top: -270px;
        }
    }
/* Hero Style End */

/* About Me Style Start */
    .profile-info  {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 400px;
        margin-bottom: 30px;
    }

    .profile-info img {
        height: 100%;
        width: 400px;
        align-self: flex-start;
        border-radius: 20px;
    }

    .profile-info p {
        text-align: left;
        width: 30%;
        font-size: 25px;
        font-weight: 600;
        align-self: flex-start;
        margin-left: 20px;
    }
/* About me Style End */

/* My Projects Style Start */
    .project-container {
        width: 80%;
        margin: 0 auto 30px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .project-container a {
        text-decoration: none;
    }

    .project-wrapper-lg {
        margin: 0 10px;
        flex: 1;
    }

    .project-wrapper-sm {
        margin: 0 10px;
        flex: 1;
    }

    .project-img {
        width: 100%;
        min-height: 300px;
        display: flex;
        flex-wrap: wrap;
        padding: 15px;
        align-items: center;
        position: relative;
        overflow: hidden;
        border-radius: 20px;
    }

    .project1 {
        background-image: url(../images/run-buddy.PNG);
        background-size: cover;
    }

    .project2 {
        background-image: url(../images/Horiseon.PNG);
        background-size: cover;
    }

    .project3 {
        background-image: url(../images/COVID-19-map.png);
        background-size: cover;
        height: 400px;
    }

   .project-title {
        font-size: 25px;
        position: relative;
        z-index: 1;
        margin-bottom: 2px;
        top: 150px;
        z-index: 1;
        opacity: 0;
        color: var(--white);
        text-shadow: 2px 2px 2px var(--dark);
    }

    .project-subtitle {
        font-size: 25px;
        margin-bottom: 10px;
        position: relative;
        top: 150px;
        z-index: 1;
        opacity: 0;
        color: var(--white);
        text-shadow: 2px 2px 2px var(--dark);
    }

    .project-img::after {
        content: "";
        height: 100%;
        width: 100%;
        background: linear-gradient(rgba(136,136,136,.6), rgba(0,0,0,0.8));
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: .2s ease-in-out;
    }

    .project-wrapper-lg:hover .project-img::after,
    .project-wrapper-sm:hover .project-img::after {
        opacity: 1;
    }

    .project-wrapper-lg:hover .project-title, 
    .project-wrapper-lg:hover .project-subtitle {
        top: 150px;
        opacity: 1;
    }

    .project-wrapper-sm:hover .project-title, 
    .project-wrapper-sm:hover .project-subtitle {
        top: 100px;
        opacity: 1;
    }
/* My Projects Style End */

/* Contact Information Style Start */
    .contact {
        background-color: var(--dark);
    }

    .contact h1 {
        color: var(--grey);
        font-weight: 700;
        text-shadow: 2px 2px 2px var(--darkgrey);
    }

    .contact-info {
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 0 auto;
    }

    .contact-form {
        width: 40%;
        margin: 5px 0;
    }

    .contact-form input, .contact-form textarea {
        border: 2px solid var(--purple);
        display: block;
        padding: 10px 15px;
        color: var(--dark);
        font-weight: 600;
        font-size: 20px;
        width: 100%;
        border-radius: 15px;
        background-color: rgba(255, 255, 255, .75);
        outline: none;
    }

    .contact-form input:focus,
    .contact-form textarea:focus {
        background-color: var(--white);
    }

    .form-label {
        color: var(--grey);
        font-weight: 700;
        font-size: 30px;
        text-shadow: 2px 2px 2px var(--darkgrey);
    }

    .contact-form button {
        border: 2px solid var(--purple);
        margin-top: 10px;
        padding: 10px 15px;
        color: var(--white);
        background-color: rgba(117, 16, 247, .75);
        font-weight: 600;
        font-size: 30px;
        width: 100%;
        border-radius: 15px;
    }

    .social-media {
        margin: 5px 0;
    }

    .social-media ul li,
    .social-media h4  {
        color: var(--grey);
        font-weight: 700;
        text-shadow: 2px 2px 2px var(--darkgrey);
        font-size: 30px;
        border-bottom: 3px solid var(--purple);
    }

    .social-media ul {
        list-style: none;
        padding-bottom: 5px;
    }

    .social-media ul li a {
        text-decoration: none;
        color: var(--grey);
        font-weight: 700;
        text-shadow: 2px 2px 2px var(--darkgrey);
        font-size: 30px;
        border-bottom: 3px solid var(--purple);
    }

    .social-media ul li a:visited {
        text-decoration: none;
    }

    .social-media ul li a:hover,
    .contact-form button:hover {
            background: var(--white);
            color: var(--purple);
            text-shadow: none;
    }

    .social-media ul li:last-child {
        opacity: 0;
        pointer-events: none;
    }
/* Contact Information Style End */



/* Media Queries Styles Start*/
    @media screen and (max-width: 980px) {
            .profile-info {
                flex-direction: column;
                flex-wrap: nowrap;
            }

            .profile-info img {
                margin: 0 auto;
            }

            .profile-info p {
                margin-top: 10px;
                font-size: 20px;
                align-self: center;
                justify-self: center;
            }

            .project-container {
                flex-direction: column;
            }

            .project-wrapper-lg, .project-wrapper-sm {
                margin-bottom: 10px;
            }

            .project2 {
                height: 400px;
            }

            .profile-info p {
                width: 70%;
                margin: 10px auto;
                font-size: 20px;
                text-align: start;
            }
    }

    @media screen and (max-width: 768px) {
            header  {
                padding-bottom: 0;
                justify-content: center;
                position: relative;
            }

            header h1 {
                text-align: center;
                width: 100%;
                font-size: 40px;
            }

            header nav ul {
                width: 100%;
                justify-content: center;
            }

            .hero-body h4 {display: none;}
            .flip2 {animation: none;}
            .flip3 {animation: none;}
            .flip4 {animation: none;}
        
            .project-container {
                width: 55%;
            }

            .project-img::after {
                transition: none;
                content: none;
            }

            .project-wrapper-lg:hover .project-title, 
            .project-wrapper-lg:hover .project-subtitle {
                transition: none;
            }

            .project-wrapper-sm:hover .project-title, 
            .project-wrapper-sm:hover .project-subtitle {
                top: 150px;
                transition: none;
            }

            .project-title, .project-subtitle {
                opacity: 1;
            }

            .project-title, .project-subtitle {
                font-size: 20px;
            }

            .profile-info img {
                width: 300px;
            }

            .profile-info p {
                width: 50%;
            }
        
        .social-media ul li a:hover,
        .contact-form button:hover {
            background: none;
            color: none;
            text-shadow: none;
        }

        .social-media ul li,
        .social-media h4,
        .social-media ul li a {
            font-size: 20px;
        }

        header nav ul li a:hover {
            background: none;
            color: none;
            border-radius: none;
            text-shadow: none;
        }
    }

    @media screen and (max-width: 575px) {
        .project-container {
            width: 75%;
        }

        .project-title, .project-subtitle {
            font-size: 15px;
        }

        .profile-info P {
            width: 70%;
        }

        .contact-form {
            display: none;
        }

        .social-media ul li:last-child {
            opacity: 1;
            pointer-events: visible;
        }
    }
/* Media Queries Style End */