/* General Styles Start */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* color pallette */
    --dark: #0a0a0a;
    --grey: #e0dede;
    --purple: #7510F7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    /* Webpage background image */
    background: url(../images/background.jpg) no-repeat center fixed;
    width: 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
}
/* General Styles End */

/* Header Style Start */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    z-index: 9999;
}

header h1 {
    margin: 0;
    padding: 10px 15px;
    font-size: 30px;
    font-weight: 500px;
}

header h1 a {
    text-decoration: none;
    color: var(--grey);
    font-weight: 500;
    text-shadow: 1px 1px 1px var(--dark);
}

header nav {
    margin: 7px 0;;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    font-weight: 500;
    margin: 0;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 30px;
    color: var(--grey);
    text-shadow: 1px 1px 1px var(--dark);
}

header nav ul li a:hover {
    background: var(--purple);
    color: var(--dark);
    border-radius: 20px;
    text-shadow: none;
}
/* Header Style End */

/* Hero Style Start */
    /* Align text center and create flexbox */
    .hero {
        display: flex;
        text-align: center !important;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    /* Make all text silver */
    .hero-body  {
        padding: 3rem 1.5rem;
        color: var(--dark);
    }

    .hero-body h1 {
        font-size: 50px;
        text-shadow: 2px 2px 2px var(--grey);
    }

    .hero-body h2 {
        font-size: 20px;
        color: var(--dark);
        text-shadow: 2px 2px 2px var(--grey);
    }
    
    /* animated hero text */
    .words {
        line-height: 1;
        font-size: 0;
    }

    .words span {
        display: inline-block;
        font-size: 30px;
        animation: move 2s ease-in-out;
    }

    @keyframes move {
        0% {
            transform: translate(-33%,0);
        }

        50% {
            text-shadow: 0 15px 40px rgba(117, 16, 247, .8);
        }

        100% {
            transform: translate(33%, 0);
        }
    }

    .words span:nth-child(odd) {
        animation-delay: 1%;
    }

    .words span:nth-child(even) {
        animation-delay: 1.5%;
    }

/* Hero Style End */

/* Media Queries */
@media screen and (max-width: 980px) {
}

@media screen and (max-width: 768px) {
    header  {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        text-align: center;
        width: 100%;
        font-size: 40px;
    }

    header nav ul {
        width: 100%;
        justify-content: center;
    }
}

@media screen and (max-width: 575px) {
}